{% extends 'accounte/base.html' %} {% block title %}My Tasks{% endblock %}
{%block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>My Tasks</h1>
  <a class="btn btn-success" href="{% url 'task-create' %}">New Task</a>
</div>

{% if tasks %}
<div class="list-group">
  {% for task in tasks %}
  <a
    href="{% url 'task-detail' task.pk %}"
    class="list-group-item list-group-item-action"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ task.title }}</h5>
      <small>{{ task.created_at|date:'Y-m-d' }}</small>
    </div>
    <p class="mb-1 text-truncate">{{ task.description }}</p>
    <small>Completed: {{ task.completed }}</small>
  </a>
  {% endfor %}
</div>

{% else %}
<div class="alert alert-info">
  لا توجد مهام حتى الآن. اضغط زر "New Task" لإنشاء واحدة.
</div>
{% endif %}
<div class="alert alert-info"></div>
{% endblock %}
